/* Juston's CSS*/

.container {
	width: 1280px;
	max-width: none;
}

.nav > li > a {
	padding: 7px 8px;
}

.nav-pills > li + li {
	margin-left: 6px;
}
.nav.nav-admin {
	font-size: 14px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #AAA;
}

#btnExport {
float: right;
margin: 10px 5px;
width: 125px;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #fAfAfA;
}

.table {
	margin-bottom: 15px;
}

.table th {
	text-align: center;
}

.table tr{
	text-align: center;
}

.table td {
	line-height: 30px !important;
}

.table tr:hover {
	color: #000;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
	background-color: #C8D7FD !important;
}

.btn {
	line-height: normal !important;
}

.btn-image {
	margin-left: 10px;
}

.dropdown-menu {
	min-width: 125px;
}

.dropdown-menu.row-menu {
	min-width: 75px;
	right: 0px;
}

#icon-question {
	dislay:inline;
}

.toggle-admin {
	width: 140px;
}

.toggle.btn {
	padding: 4px 10px !important;
}

.toggle-handle.btn {
	padding: 4px 10px !important;
}

.toggle-on.btn {
	font-size: 11px;
	font-weight: bold;
	padding-right: 20px !important;
}

.toggle-off.btn {
	font-size: 11px;
	font-weight: bold;
	padding-left: 16px !important;
	padding-right: 10px !important;
	color: #111;
	text-shadow: none;
}

.btn.dropdown-toggle {
	background-color: #E2EEFF;
	background-image: none !important;
	border-color: #49CDCD;
	padding: 6px 5px;
}

.btn.active {
  background-color: #F13C3C  !important;
  /**background-color: #d9d9d9 !important;*/
}

.div-pagination {
	margin-left: 5px;
	vertical-align: middle;
	display: block;
	width: auto;
}

.pagination {
	margin: 10px 5px;
	float: left;
}

.input-group {
	float: right;
	margin: 10px 5px;
	width: 140px;
}

.input-group .form-control {
	width: 100%;
	margin-bottom: 0;
	height: 30px
}

.dropdown-menu > li.denied > a:hover, .dropdown-menu > li.denied  > a:focus {
	background-color: #CA4242;
}

.btn-glyph {
	padding: 2px 7px;
	margin-left: 2px;
	zoom: 1;
	background-color: rgba(255, 255, 255, 0.5);
}

.glyphicon-question-sign {
	margin-left: 2px;
	top: 3px;
	zoom: 110%;
}

.glyphicon-picture {
	font-size: 175%;
	top: 0px;
}
/*End of Juston's CSS*/

/*Bootstrap-toggle CSS*/
/*
* bootstrap-toggle v1.0
* -----------------------------------
* Copyright 2013 Min Hur, The New York Times Company
* This content is released under the MIT License.
*/
.toggle {
	min-width: 40px;
	height: 30px;
	position: relative;
	overflow: hidden;
}
.toggle input[type="checkbox"] {
	display: none;
}
.toggle-group {
	position: absolute;
	width: 200%;
	top: 0;
	bottom: 0;
	left: 0;
	transition: left 0.35s;
	-webkit-transition: left 0.35s;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.toggle.off .toggle-group {
	left: -100%;
}
.toggle-on {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	margin: 0;
	border: 0;
	border-radius: 0;
}
.toggle-off {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	margin: 0;
	border: 0;
	border-radius: 0;
}
.toggle-handle {
	position: relative;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 0px;
	height: 100%;
	width: 0px;
	border-width: 0 1px;
}
.toggle-handle.btn-mini {
	top: -1px;
}
.toggle.btn .btn-default{ min-width: 15px; }
.toggle-on.btn .btn-default{ padding-right: 24px; }
.toggle-off.btn .btn-default{ padding-left: 24px; }

.toggle.btn-lg { min-width: 40px; }
.toggle-on.btn-lg { padding-right: 35px; }
.toggle-off.btn-lg { padding-left: 35px; }

.toggle.btn-sm { min-width: 25px; }
.toggle-on.btn-sm { padding-right: 20px; }
.toggle-off.btn-sm { padding-left: 20px; }

.toggle.btn-xs { min-width: 20px; }
.toggle-on.btn-xs { padding-right: 12px; }
.toggle-off.btn-xs { padding-left: 12px; }
/*End Bootstrap Toggle*/