/* Fro's CSS */
*{
	margin: 0;
	padding: 0;
}

body {
	color: #5C6161;
	line-height: 23px;
	margin: 0;
	/*background: url('../../bg.png');*/
}

.login-wrapper {
	width: 890px;
	height: 100%;
	margin: 0 auto;
}	

.login-container {
	margin-top: 120px;
}

.login-container h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 32px;
}

.login-container h1 span {
	color: orange;
}

.login-box {
	margin-left: 8px;
	padding: 25px 40px 50px 50px;
	font-weight: normal;
	background: #fff;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	box-shadow: rgba(200,200,200,0.7) 0 4px 10px -1px;
	width: 300px;
	margin: 0 auto;
}

.login_button {
	cursor: pointer;
	margin: 5px 10px;
	float: right;
	border-radius: 3px;
}

input[type="text"], input[type="password"]{
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: inset;
	padding: 5px;
	width: 95%;
}

label {
	font-size: 17px;
}

.vetro-af-container {
	margin: 0 auto;
	margin-top: 10px;
}

.vetro-header {
	padding: 1px 35px;
	background: #0b61a4;
}

.vetro-header h1 {
	color: #FFF;
}

.vetro-container {
	background: #f7f7f7;
	padding: 15px 40px;
}

.vetro-container span {
	margin-left: 12px;
}

.vetro-container table {
	margin-top: 10px;
}

.vetro-container table tr td {
	padding: 5px 10px;
	width: 220px;
}

.submitbutton {
	float: right
}

.musicinfo-box {
	height: 100px;
	width: 460px;
}

.td-style {
	margin-top: -25px;
}

.td-style2 {
	height: 110px;
	margin-top: -50px;
}

.copyright-file {
	display: inline-block;
	margin-left: 0;
}

/*a.tooltip {
	outline:none;
}
a.tooltip strong {
	line-height:30px;
}
a.tooltip:hover {
	text-decoration:none;
} 
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:60px; margin-left:-160px;
    width:240px; line-height:16px;
}

a.tooltip:hover span {
    display:inline; position:absolute; 
    border:2px solid #FFF;  color:#EEE;
    background:#000 url(src/css-tooltip-gradient-bg.png) repeat-x 0 0;
}
.callout {
	z-index:20;
	position:absolute;
	border:0;
	top:-14px;
	left:120px;
}*/
    
/*CSS3 extras*/
/*a.tooltip span {
    border-radius:2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
        
    -moz-box-shadow: 0px 0px 8px 4px #666;
    -webkit-box-shadow: 0px 0px 8px 4px #666;
    box-shadow: 0px 0px 8px 4px #666;

    opacity: 0.8;
}*/

span.dropt:hover {
	text-decoration: none; background: #ffffff; z-index: 6;
}

span.dropt dt {
	text-align: left;
	word-spacing: -8px;
	position: relative;
}
span.dropt span {
	font-size: 11px;
	line-height: 2em;
	position: absolute;
	left: -9999px;
    margin: 20px 0 0 0px;
    padding: 5px 5px 5px 5px;
    border-style:solid;
    border-color:black;
    border-width:1px;
    z-index: 6;

    border-radius:2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
        
    -moz-box-shadow: 0px 0px 8px 4px #666;
    -webkit-box-shadow: 0px 0px 8px 4px #666;
    box-shadow: 0px 0px 8px 4px #666;

}
span.dropt:hover span {
	left: 2%;
	background: #ffffff;
	margin: 7px 0 0 0;
	background: #ffffff;
	z-index:6;
}

/* End of Fro's CSS*/
