/*Rey's CSS*/

body{

}

.navbar-inverse {
	background-color: #212121;
	border-color: #080808;
}

.nav-collapse, .nav-collapse.collapse {
    overflow: visible;
}   
.navbar .btn-navbar {
    display: none;
}   

.navbar-header {
	background: url('/vetro.png') no-repeat;
	background-size: 100%;
	height: 80px;
	width: 85px;
	position: absolute;
	top: 38px;
	left: 118px;
	/*margin: 30px 0 0 30px;*/
}

.navbar-brand {
	padding: 0px;
	height: 45px;
	width: 45px;
}

.navbar-nav li.first-leaf {
	border-left: 2px groove #555;
	border-right: 0px;
}

.navbar-nav li.last-leaf  {
	border-right: 2px groove #555;
	border-left: 2px groove #555;
}

.navbar-nav li {
	border-left: 2px groove #555;
}

.navbar-nav li a {
	padding: 7px 15px;
	padding-bottom: 6px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #89B9FF;
	background-color: transparent;
}

/* FRO's CSS */

.nav-social-icons {
	margin-left: 18px;
	margin-top: -12px;
}

.nav-social-icons img:hover {
	cursor: pointer;
}

.nav-to-right {
	float: right;
	padding-right: 0;
}

.nav-search {
	padding-right: 30px !important;
}

.navbar-style {
	padding: 12px 50px 0;
	margin-bottom: 0;
	position: absolute;
}

.custom-nav-upper {
	float: right;
	padding-right: 0;
}

.custom-nav-upper li a {
	line-height: 7px;
}

.custom-nav-lower {
	float: right;
	padding: 10px 0;
}

.custom-nav-lower li {
	border: 0;
}

.custom-nav-lower li a {
	color: #FFF;
}

.wrapper {
	/*background: url('../../background.jpg');*/
}

.home-container {
	width: 100%;
	margin: 0 auto;
}

.home-container h3, .home-container h4 {
	color: #151515;
}

.banner {
	/*background: url('/vetro-banner.jpg') center no-repeat;
	height: 400px;
	background-size: cover;*/
	margin-top: 130px;
}

.home-main {
	padding: 40px 50px 50px;
}

.home-main h3 {
	margin-bottom: 15px;
}

.t-center {
	text-align: center;
}

.home-main span, .youtube-tools span, .partners-container span, .footer-upper span, .footer-lower span {
	font-size: 11px;
	line-height: 0px;
}

.youtube-tools {
	padding: 0 50px;
}

.partners-container {
	padding: 0 50px 90px;
	background: url('/worldmap.png') no-repeat center;
	background-size: cover;

}

.partners-container h3 {
	margin-bottom: 40px;
}

.partners-container h4 {
	margin-top: 0;
}

.footer-upper {
	background: url('/top-footer-pattern.jpg');
	padding: 20px 50px;
}

.footer-upper h3, .footer-upper span, .footer-lower h3, .footer-lower span {
	color: white;
}

.footer-lower {
	background: #151515;
	padding: 0 50px 10px;
}

.footer-lower h3 {
	text-align: center;
}

.footer-lower p {
	color: #414141;
	line-height: 9px;
	font-size: 11px;
}

.t-yellow {
	color: orange !important;
}

.vetro-image-footer {
	margin-left: 32%;
	display: block;
	margin-bottom: 15px;
}

.contact-us {
	padding: 0 30px;
}

.contact-input {
	margin-bottom: 10px;
	background: #2b2b2b;
	border-color: #2b2b2b;
	border-radius: 0px;
}

.message-box {
	height: 80px !important;
	background: #2b2b2b;
	border-color: #2b2b2b;
	border-radius: 0px;
}

.home-container img {
	max-width:100%;
    max-height:100%;
    vertical-align: middle;
}

::-webkit-input-placeholder { color:#6f6f6f; font-style: italic; background: #2b2b2b; }
::-moz-placeholder { color:#6f6f6f; font-style: italic; background: #2b2b2b; } /* firefox 19+ */
:-ms-input-placeholder { color:#6f6f6f; font-style: italic; background: #2b2b2b; } /* ie */
input:-moz-placeholder { color:#6f6f6f; font-style: italic; background: #2b2b2b; }