<template name="dashboard">
	
		<div class="row">
			<div class="col-md-3 sidebar">
				<div class="row">
					<div class="col-md-3 logo-container-left">
						<a href="/">
							<img src="/vetro.png" class="img-logo-prop" width='60' height='60'/>
						</a>
					</div>
					<div class="col-md-9 vetro-digital-label">
						<div class="row">
							<div class="col-md-3">
								<span class="label" id="vetro-digital-label-prop">Vetro Digital Dashboard Partner</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3">
								<span class="label" id="vetro-digital-label-prop">John Appleseed</span>
							</div>	
						</div>
						<div class="row">
							<div class="col-md-3">
								<span class="label" id="vetro-digital-label-prop">
									<a href="#" id="sidebar-logout">Log Out</a> | <a href="#" id="sidebar-settings">Settings</a>
								</span>
							</div>
						</div>
					</div>
				</div> <!--- End of Logo row-->
				<div class="row sidebar-row-link-container">
					<div class="row sidebar-row-container">
						<div class="col-md-2 icon-column-container">
							<a href="/overview">
							  <img src="/icon-overview.png" class="img-logo-prop" width='30' height='30'/>
							</a> 
						</div>
						<div class="col-md-4">
							  <a href="#" class="label sidebar-label">Overview</a>
						</div>
					</div>
					<div class="row sidebar-row-container">
						<div class="col-md-2 icon-column-container">
							<a href="/analytics">
							  <img src="/icon-analytics.png" class="img-logo-prop" width='30' height='30'/>
							</a>  
						</div>
						<div class="col-md-4">
							  <a href="#" class="label sidebar-label">Analytics</a>
						</div>
					</div>
					<div class="row sidebar-row-container">
						<div class="col-md-2 icon-column-container">
							<a href="/overview">
							  <img src="/icon-myvideos.png" class="img-logo-prop" width='30' height='30'/>
							</a>  
						</div>
						<div class="col-md-4">
							  <a href="#" class="label sidebar-label">My Videos</a>
						</div>
					</div>
					<div class="row sidebar-row-container">
						<div class="col-md-2 icon-column-container">
							<a href="/overview">
							  <img src="/icon-notifications.png" class="img-logo-prop" width='30' height='30'/>
							</a>  
						</div>
						<div class="col-md-4">
							  <a href="#" class="label sidebar-label">Notifications</a>
						</div>
					</div>
					<div class="row sidebar-row-container">
						<div class="col-md-2 icon-column-container">
							<a href="/overview">
							  <img src="/icon-earnings.png" class="img-logo-prop" width='30' height='30'/>
							</a>  
						</div>
						<div class="col-md-4">
							  <a href="#" class="label sidebar-label">Earnings</a>
						</div>
					</div>
					<div class="row sidebar-row-container">
						<div class="col-md-2 icon-column-container">
							<a href="/overview">
							  <img src="/icon-channel.png" class="img-logo-prop" width='30' height='30'/>
							</a>  
						</div>
						<div class="col-md-4">
							  <a href="#" class="label sidebar-label">Channel Settings</a>
						</div>
					</div>
					<div class="row sidebar-row-container">
						<div class="col-md-2 icon-column-container">
							<a href="/overview">
							  <img src="/icon-support.png" class="img-logo-prop" width='30' height='30'/>
							</a>  
						</div>
						<div class="col-md-4">
							  <a href="#" class="label sidebar-label">Support</a>
						</div>
					</div>
				</div>	
			</div>

			<div class="col-md-9 right-content">
				<div class="row">
					<div class="date-header">
						<div class="btn-group">
							  <button type="button" class="btn">Action</button>
							  <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
						    <span class="caret"></span>
						  </button>
						    <ul class="dropdown-menu" role="menu">
						      <li><a href="#">Last 30 days</a></li>
						      <li><a href="#">Last year</a></li>
						    </ul>
						</div>
						<h4 class="first-date-header">Sept. 13th  - Oct. 13th </h4>
						<h4 class="second-date-header">/ Sept. 12th - Aug. 13th</h4>
					</div>
				</div>
				<div class="row">
					<h2>Vetro Partner Dashboard - At A Glance Stats</h2>
				</div>
			</div>
		</div>
</template>