<template name="index">
	<div class="home-container">
		<div class="row banner">
			<div class="col-lg-12">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				
			</div>
		</div>
		<div class="row home-main">
			<div class="col-lg-4">
				<div class="col-lg-6">
					<img src="vetro-col1.png">
				</div>
				<div class="col-lg-6">
				<h3>Youtube SEO</h3>
				<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="col-lg-6">
					<img src="vetro-col1.png">
				</div>
				<div class="col-lg-6">
				<h3>Branding</h3>
				<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="col-lg-6">
					<img src="vetro-col1.png">
				</div>
				<div class="col-lg-6">
				<h3>Analytics</h3>
				<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</span>
				</div>
			</div>
		</div>
		<div class="row youtube-tools">
			<div class="col-lg-6">
				<h3 class="t-center">Get the Most of Youtube With Our Tools</h3>
				<img src="vetro-monitors.png">
			</div>
			<div class="col-lg-6">
				<div class="row">
					<h3>Partner Dashboard</h3>
					<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</span>
				</div>
				<div class="row">
					<h3>Progressive Contracts</h3>
					<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</span>
				</div>
				<div class="row">
					<h3>Tailored Advertising</h3>
					<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</span>
				</div>
			</div>
		</div>
		<div class="row partners-container">
			<div class="col-lg-12">
				<h3>What Our Partners Think</h3>
			</div>
			<div class="col-lg-4">
				<div class="col-lg-4">
					<img src="vetro-testi-1.jpg">
				</div>
				<div class="col-lg-8">
					<h4><i>-Jordan Gable</i></h4>
					<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="col-lg-4">
					<img src="vetro-testi-2.jpg">
				</div>
				<div class="col-lg-8">
				<h4><i>-Jeremy Neuner</i></h4>
				<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="col-lg-4">
					<img src="vetro-testi-3.jpg">
				</div>
				<div class="col-lg-8">
				<h4><i>-Ricky Wittman</i></h4>
				<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</span>
				</div>
			</div>
		</div>
		<div class="row footer-upper">
			<div class="col-lg-6">
				<h3>Already A Partner?</h3>
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, <span class="t-yellow">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span><br><br>
				<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</span>
			</div>
			<div class="col-lg-6">
				<h3>New Here? Join Our Community Forums!</h3>
				<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span><br><br>
				<span><span class="t-yellow">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam</span> erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</span>
			</div>
		</div>
		<div class="row footer-lower">
			<div class="col-lg-3">
				<img src="/vetro.png" class="vetro-image-footer">
				<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam </span><br><br><br>
				<p>Wordpress Mockup</p>
				<p>2013 Jordan Gable</p>
			</div>
			<div class="col-lg-3">
				<h3>Photo Stream</h3>
				<img src="/photostream.jpg">
			</div>
			<div class="col-lg-3">
				<h3>Recent Tweets:</h3>
				<span>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</span><br><br>
				<span>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</span><br><br>
			</div>
			<div class="col-lg-3 contact-us">
				<h3>Contact Us</h3>
				<div class="row">
					<input name="Name" placeholder="Name..." class="form-control contact-input">
				</div>
				<div class="row">
					<input name="Name" placeholder="Email..." class="form-control contact-input">
				</div>
				<div class="row">
					<textarea name="message-box" class="message-box form-control" type="text" placeholder="Message..."></textarea>
				</div>
			</div>
		</div>
	</div>
</template>