<template name="index">
	<div class="container">
		<div class="row banner">
			<div class="col-lg-12">
				<div class="row">
					<img src="/vetro-banner.jpg">
				</div>
				<div class="row">
					<img src="/join-02.png">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				
			</div>
		</div>
		<div class="row home-main">
			<div class="col-lg-4">
				<div class="col-lg-6">
					<img src="vetro-col1.png">
				</div>
				<div class="col-lg-6">
				<h3>Youtube SEO</h3>
				<span>While many companies are still focusing SEO efforts on their websites, there are many other ways to boost search results, especially since results are now comprised of all kinds of content, including videos, images, maps, business listings, tweets and even Facebook Page posts. Here at Vetro Digital we Specialize in SEO and will help you increase your search ranking.</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="col-lg-6">
					<img src="vetro-col2.png">
				</div>
				<div class="col-lg-6">
				<h3>Branding</h3>
				<span>Branding includes custom tailored designs fit for your channel as well as marketing Vetro Digital at the same time. The mutual shift in attention can allow viewers and fans alike the best in quality and provide long lasting ties your channel!</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="col-lg-6">
					<img src="vetro-col3.png">
				</div>
				<div class="col-lg-6">
				<h3>Analytics</h3>
				<span>Analytics track your day to day channel growth in the best form of way possible. Our partner dashboard allows you to track your stats in real time as well as track statistics and earnings unlike any other dashboard and network on YouTube. Get the most and accurate statistics to grow your channel!</span>
				</div>
			</div>
		</div>
		<div class="row youtube-tools">
			<div class="col-lg-6">
				<h3 class="t-center">Get the Most of Youtube With Our Tools</h3>
				<img src="vetro-monitors.png">
			</div>
			<div class="col-lg-6">
				<div class="row">
					<h3>Partner Dashboard</h3>
					<span>Our partner dashboard allows you the content creator to access major tools and assets to your creation experience. From ranking charts to creator handbooks all the way to licensing and easy support, the Vetro Digital Partner Dashboard allows you to take your creation and interaction in the world of YouTube to the next level. Features are constantly being added so each day can await a new tool to help further your career in content creation. Become a partner today and see what we've got to give!</span>
				</div>
				<div class="row">
					<h3>Progressive Contracts</h3>
					<span>Vetro offers Progressive Contracts, something that is unique in the networking world as of late. We offer contracts that are custom tailored to your channel's outlook, growth patterns as well as longevity. Your channel and growth will expand in front of your very eyes as we work with you to bring you the best opportunities that your channel can have, from payment to sponsorship deals and many other aspects. Each contract is molded to your identity so that you are getting the deal that is right for you!</span>
				</div>
				<div class="row">
					<h3>Tailored Advertising</h3>
					<span>If you hate seeing random advertisements amongst videos that have no relevance to all to your interests, you are in the same boat as us! Vetro does it's best to drive relevant streaming advertisements to your channel and its videos so that your audience will be more engaged, therefore earning you more. With an interest comes curiousity and you, the creator, can take full advantage of it!</span>
				</div>
			</div>
		</div>
		<div class="row partners-container">
			<div class="col-lg-12">
				<h3>What Our Partners Think</h3>
			</div>
			<div class="col-lg-4">
				<div class="col-lg-4">
					<img src="vetro-testi-1.png">
				</div>
				<div class="col-lg-8">
					<h4><i>-Joseph lacobellis (StudTheeMuffin)</i></h4>
					<span>"The will to win, the desire to succeed, the urge to reach your full potential... these are the keys that will unlock the door to personal excellence." This is a quote from Vetro's CEO which truly inspires me to progress with YouTube. Vetro is a community of people with the same passion and thrive to be successful. Vetro brings together special tolents of various artists, editors, directors, and concurrently educates while producing a great product. It is a way to grow without feeling intimidated and pressured. To me, it is a way to expand my knowledge of editing, and get help from others with a greater level of experience within the Vetro community. Vetro helps me be the YouTube star I've always wanted one view at a time.</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="col-lg-4">
					<img src="vetro-testi-2.jpg">
				</div>
				<div class="col-lg-8">
				<h4><i>-Jeremy Neuner</i></h4>
				<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="col-lg-4">
					<img src="vetro-testi-3.jpg">
				</div>
				<div class="col-lg-8">
				<h4><i>-Ricky Wittman</i></h4>
				<span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</span>
				</div>
			</div>
		</div>
		<div class="row footer-upper">
			<div class="col-lg-6">
				<h3>Already A Partner?</h3>
				<span>If you are already a partner, be sure to check out our partner dashboard!<span class="t-yellow"> Click here to access the dashboard and all it's features!</span> Once on the dashboard, feel free to take a look to see what tools you have to take your content to the next level!</span><br><br><br>
				<span class="t-yellow">Being apart of the Vetro network,</span><br>
				<span>We never want our partners to feel left out, That's why we are constantly improving our dashboard and always asking our partners what they would like to see from us.
				</span>
			</div>
			<div class="col-lg-6">
				<h3>New Here? Join Our Community Forums!</h3>
				<span>If your new here and don't meet the required views to be partnered you should defiantly checkout the forums. On the forums there will be helpful tips that other content creators like yourself have created to help you jumps on the fast track to YouTube fame! Or if you're not a content creator and just love to get involved in amazing topics or love a good debate our forums will be perfect for you.</span><br><br>
				<span><span class="t-yellow">What to find on the forums:</span><br> The latest new's on all the games you can think of, A thread build just for you to promote your video's and channel on. And many general topics about day to day youtube life.</span>
			</div>
		</div>
		<div class="row footer-lower">
			<div class="col-lg-3">
				<div class="row">
					<div class="col-lg-4 col-lg-offset-4">
						<img src="/vetro.png" class="vetro-image-footer">
					</div>
				</div>
				<span>Who is Vetro<br></span>
				<span>Vetro is a brand new media specialising network here on YouTube bringing content creators like you the opportunity to turn your hobby into a career!</span>
				<br><br>
				<p>© 2013 Vetro Digial Limited</p>
			</div>
			<div class="col-lg-3">
				<h3>Photo Stream</h3>
				<img src="/photostream.jpg">
			</div>
			<div class="col-lg-3">
				<h3>Recent Tweets:</h3>
				<div class="row">
					<div class="col-lg-2">
						<img src="/twitter.png">
					</div>
					<div class="col-lg-10">
						<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span><br><br>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2">
						<img src="/twitter.png">
					</div>
					<div class="col-lg-10">
						<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span><br><br>
					</div>
				</div>
			</div>
			<div class="col-lg-3 contact-us">
				<h3>Contact Us</h3>
				<div class="row">
					<input name="Name" placeholder="Name..." class="form-control contact-input">
				</div>
				<div class="row">
					<input name="Name" placeholder="Email..." class="form-control contact-input">
				</div>
				<div class="row">
					<textarea name="message-box" class="message-box form-control" type="text" placeholder="Message..."></textarea>
				</div>
				<div class="row">
					<div class="col-lg-offset-3 contact-submit">
						<a href="#"><img src="submit.png"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>