<template name="login">
	<div class="wrapper">
		<div class="container">
			<h1>The leader in youtube networking for <span>content creators</span> and <span>fans</span></h1>
			<form class="login-box">
				<p>
					<label for="user_login">
						Username<br/>
						<input type="text" name="log" id="user_login" class="input" value="" size="20">
					</label>
				</p>
				<p>
					<label for="user_pass">
						Password<br/>
						<input type="password" name="pwd" id="user_pass" class="input" value="" size="20">
					</label>
				</p>
				<p class="submit">
					<input type="submit" class="login_button" value="Log In">
				</p>
			</form>
		</div>
	</div>
</template>